<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<div class='container'>
  <div style="margin-top: 20px;">
    <h5>
      You just compared<span style='font-weight: bold;'> {{searched}} rates </span>in {{searchTime + minute}}!
    </h5>
  </div>

  <app-accordion [data]='cardData.carrier_cards'></app-accordion>

  <!-- <mat-accordion multi="true">
      <div *ngFor='let panelItem of cardData.carrier_cards; index as i'>
          <app-panel id='panel-{{i}}' [data]='panelItem' [panelId]='i'></app-panel>
      </div>
  </mat-accordion> -->
</div>


<router-outlet></router-outlet>
